.motherCarousel{
    height: 540px;
    overflow: hidden;
}
.motherCarousel img{
    transition: all 0.5s;
}
.motherCarousel:hover img{
    transform: scale(1.2);
}

.image-father {
    border-radius: 15px;
}